* {
  text-decoration: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body main {
  color: #333;
  transition: all 0.4s ease-in;
}
/* SLIDER */
h1 {
  text-align: center;
  margin-top: 1.25rem;
}
main .container {
  display: grid;
  width: 100%;
  min-height: calc(100vh - 4.25rem);
  place-content: center;
  gap: 1rem;
  text-align: center;
}

#slider {
  position: relative;
  width: 900px;
  height: 1200px;
}

#slider img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 1s ease-in-out;
}

#slider img.active {
  opacity: 1;
}

/* NAVIGATION BUTTONS */

#slider button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border: 3px solid #bcbcbc;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  background-color: #aeadad;
  color: #f1f1f1;
  font-size: 32px;
  font-stretch: condensed;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

#slider button:hover {
  background-color: rgba(0, 0, 0, 0.756);
}

#slider button#prev {
  left: -105px;
  padding: 7px 17px 5px 15px;
}
#slider button#next {
  right: -105px;
  padding: 7px 15px 8px 17px;
}

@media screen and (max-width: 1150px) {
  #slider {
    position: relative;
    width: 500px;
    height: 600px;
  }
  /* #slider img {

  } */
}
/* HEADER */

header {
  display: block;
  background-color: white;
  width: 100%;
  height: 100%;
}

header .header-logo {
  font-family: "Catamaran";
  font-size: 24px;
  color: black;
  font-weight: 900;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
}

header nav ul {
  display: block;
  padding: 0 0;
  margin: 0 auto;
  width: fit-content;
}

header nav ul li {
  display: inline-block;
  list-style: none;
  padding: 0 15px;
}

header nav ul li a {
  font-family: "Catamaran";
  font-size: 16px;
  color: black;
  text-transform: uppercase;
}

header .header-cases {
  display: none;
}

@media only screen and (min-width: 1150px) {
  header .header-logo {
    margin: 30px 0px;
    text-align: left;
    line-height: 38px;
    padding: 0px 16px 0px 40px;
    border-right: 3px solid #111;
    float: left;
  }
  header nav ul {
    margin: 20 0px 0px 20px;
    float: left;
  }

  header nav ul li a {
    line-height: 100px;
  }

  header .header-cases {
    display: block;
    font-family: "Catamaran";
    font-size: 16px;
    color: black;
    text-transform: uppercase;
    line-height: 38px;
    border: 1px solid #111;
    float: right;
    margin-right: 40px;
    margin-top: 27px;
    padding: 0px 20px;
  }
}

/* FOOTER */
footer {
  background: black;
  color: white;
  padding-top: 10px;
  float: bottom;
}

.avatar-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  padding: 10px 10px;
  margin: 0 25%;
}
.footer-sm img {
  display: inline-block;
  width: 50px;
  margin-top: 16px;
  padding: 0 5px;
}
/* PHOTO GRID */
.description-1 {
  text-align: center;
}
.photo-grid {
  display: flex;
  gap: 150px;
  margin: 150px 150px;
}
.grid-box {
  justify-content: center;
}
.image-1 {
  width: 80%;
  margin: 0 10%;
}

.description-1 {
  margin: 10px auto;
}

.title-slider {
  font-size: 30px;
  letter-spacing: 0.2rem;
}
@media screen and (max-width: 1150px) {
  .photo-grid {
    padding: 0px 50px;
    display: block;
  }
  .grid-box {
    align-content: center;
  }
  .image-1 {
    width: 70%;
    margin: 0 14%;
  }
}
